@use "../../styles/partials/variables" as *;

.button {
  letter-spacing: 0.5px;
  font-size: 14px;
  outline: none;
  border: none;
  height: 2.5rem;
  border-radius: 1.25rem;
  font-weight: 600;
  width: 100%;
  cursor: pointer;

  &-primary {
    @extend .button;
    color: black;
    background-color: $spotify-green;

    &--disabled {
      @extend .button-primary;
      background-color: $medium-light-grey;
      color: $grey;
      cursor: not-allowed;
    }

    &-small {
      @extend .button-primary;
      color: $spotify-green;
      background-color: $black;
      border: $spotify-green solid 1px;
      width: 5rem;
      font-size: 0.75rem;
    }
  }
  &-secondary {
    @extend .button;
    color: $spotify-green;
    border: $spotify-green solid 1px;
    background-color: $white;
  }
}
