@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.tracklist {
  width: 100%;
  position: relative;

  &--disabled {
    @extend .tracklist;
    color: $grey;
  }

  @include tablet {
  }

  &__mask {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 9;
  }

  &__mask-text-container {
    margin: 0 2rem;
    margin-top: 6.6rem;

    @include tablet {
      margin-top: 10.25rem;
    }

    @include laptop {
      margin-top: 11.25rem;
    }
  }

  &__mask-text {
    color: white;
    line-height: 2.5rem;
    font-size: 24px;
    font-weight: 600;
    height: 24px;
    text-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.46);
    box-shadow: 0px 0px 0.25rem 0.25rem rgba(228, 228, 228, 1);
    margin: 0 2rem;
    margin-top: 7.25rem;
    width: auto;
    background-color: rgba(228, 228, 228, 1);

    &::after {
      z-index: 9;
    }
  }

  &__heading-container {
    border-top: 1px lightgrey solid;
    background-color: $light-grey;
    width: 100%;
    flex-direction: row;
    padding: 0.25rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    display: none;
    @include tablet {
      display: flex;
    }
  }

  &__heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 400;
    &-title {
      @extend .tracklist__heading;
      @include laptop {
        width: 30rem;
      }
    }
    &-artist {
      @extend .tracklist__heading;
    }
    &-album {
      @extend .tracklist__heading;
      display: none;
      @include laptop {
        display: block;
        width: 25rem;
      }
    }
    &-icon-container {
      width: 15rem;
      min-width: 15rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
    &-length {
      @extend .tracklist__heading;
      width: 3rem;
      min-width: 2.75rem;
      &-icon {
        @extend .tracklist__heading-length;
        height: 1.125rem;
      }
    }
    &-energy {
      @extend .tracklist__heading;
      width: 5rem;
      min-width: 5rem;
      &-icon {
        @extend .tracklist__heading-energy;
        height: 1.125rem;
      }
    }
    &-bpm {
      @extend .tracklist__heading;
      width: 4.75rem;
      min-width: 4.75rem;
      text-align: end;
      &-icon {
        @extend .tracklist__heading-bpm;
        height: 1rem;
      }
    }
  }

  &__list {
    margin-bottom: 1rem;
  }

  &__row {
    &:first-child {
      border-top: 1px lightgrey solid;
    }
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 5rem;
    border-bottom: 1px lightgrey solid;

    &:hover {
      background-color: $light-grey;
    }

    @include tablet {
      padding: 0 1.5rem;
    }
    @include laptop {
      height: 3.625rem;
    }
  }

  &__title-artist-container {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include laptop {
      width: 30rem;
    }
  }

  &__data {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.875rem;

    &-title {
      @extend .tracklist__data;
      font-weight: bold;
    }
    &-artist {
      @extend .tracklist__data;
    }
    &-album {
      @extend .tracklist__data;
      color: $grey;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include laptop {
        color: inherit;
        width: 25rem;
      }
    }
    &-length {
      @extend .tracklist__data;
      text-align: start;
      width: auto;
      @include tablet {
        text-align: center;
        width: 2.75rem;
      }
    }
    &-bpm {
      @extend .tracklist__data;
      text-align: start;
      width: auto;
      @include tablet {
        text-align: center;
        width: 4.75rem;
      }
    }
    &-energy {
      @extend .tracklist__data;
      text-align: start;
      min-width: 4.375rem;
      @include tablet {
        min-width: 5rem;
        text-align: center;
      }
    }

    &-energy-icon {
      width: 0.875rem;

      @include tablet {
        width: 1rem;
      }

      &--disabled {
        @extend .tracklist__data-energy-icon;
        opacity: 0.4;
      }
    }
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 0.125rem;
    @include laptop {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }

  &__data-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 4.375rem;
    gap: 0.375rem;

    @include tablet {
      flex-direction: row;
      align-items: center;
      width: 15rem;
      min-width: 15rem;
      gap: 1rem;
    }
  }

  &__filter-error {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
    height: 6rem;
    text-align: center;
    margin-bottom: 2.5rem;
    color: $red;
  }

  &__pagination {
    gap: 4rem;
    margin: 0rem auto 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 2rem;
    width: 320px;
  }

  &__pagination-item {
    display: flex;
    justify-content: center;
  }

  &__pagination-link {
    cursor: pointer;

    &--active {
      display: none;
    }
  }

  &__pagination-prev-next {
  }

  &__pagination-prev-next-link {
    font-size: 1.5rem;
    font-weight: 200;
    cursor: pointer;
    &--disabled {
      color: lightgrey;
    }
  }

  &__pagination-break-link {
    cursor: pointer;
  }

  &__pagination-count {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0.4rem;
    z-index: 0;
  }

  &__pagination-count-current-page {
    font-weight: 700;
  }
}
