$tablet-breakpoint: 48rem; // 768px
$laptop-breakpoint: 64rem; // 1024px
$desktop-breakpoint: 80rem; // 1280px

$spotify-green: #1ed760;
$spotify-green-light: #81e4a4;
$black: rgb(20, 20, 20);
$dark-grey: #272835;
$red: #f15025;
$white: #ffffff;
$grey: #a8a8b3;
$light-grey: #f5f5f5;

$app-font: "Roboto", "Helvetica", "Arial", sans-serif;
