$tablet-breakpoint: 48rem; // 768px
$laptop-breakpoint: 64rem; // 1024px
$desktop-breakpoint: 80rem; // 1280px

$spotify-green-dark: #9da29f;
$spotify-green-medium-dark: rgb(22, 156, 70);
$spotify-green: rgb(30, 215, 96);
$spotify-green-medium-light: rgb(31, 223, 100);
$spotify-green-light: #81e4a4;
$spotify-green-extra-light: rgba(30, 215, 95, 0.15);
$black: rgb(40, 40, 40);
$dark-grey: #272835;
$red: #f15025;
$white: #ffffff;
$grey: #a8a8b3;
$medium-light-grey: #e5e5e5;
$light-grey: #f5f5f5;

$card-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);

$app-font: "Roboto", "Helvetica", "Arial", sans-serif;
