$tablet-breakpoint: 48rem; // 768px
$laptop-breakpoint: 64rem; // 1024px
$desktop-breakpoint: 80rem; // 1280px

$spotify-green: #1ed760;
$black: rgb(20, 20, 20);
$dark-grey: #181a25;
$red: #f15025;
$white: #ffffff;
$grey: #a8adb3;
$light-grey: #e9ebed;

$app-font: "Roboto", "Helvetica", "Arial", sans-serif;
