@use "../../styles/partials/variables" as *;

.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  background-color: $spotify-green;
  color: $black;
  padding: 0.75rem;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  visibility: hidden;

  &--show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  &--success {
    background-color: $spotify-green;
  }
  &--error {
    background-color: $red;
  }
}

@-webkit-keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 1rem;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 1rem;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    right: 1rem;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    right: 1rem;
    opacity: 1;
  }
  to {
    right: 0;
    opacity: 0;
  }
}
