@use "../../styles/partials/variables" as *;

.slider-marks {
  width: calc(100% - 17px);
  margin: 1.5rem auto 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__tick {
    width: 2px;
    height: 0.75rem;
    background-color: #d3d3d3;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;

    &--selected {
      @extend .slider-marks__number;
      background-color: $spotify-green-light;
      transition: all 0.2s ease-in-out;
    }
  }
}
