@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.login-page {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  max-width: 28.125rem;
  gap: 1.5rem;
  background-color: #ffffff;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  @include tablet {
    padding: 1.5rem;
    box-shadow: $card-shadow;
  }

  &__title {
    text-align: center;
  }

  &__text {
    text-align: center;
  }

  &__expired-message {
    color: $red;
    text-align: center;
    font-weight: 400;
  }

  &__register-link {
    width: auto;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 0.875rem;
    color: $grey;

    &:hover {
      transform: scale(1.035);
      color: $black;
    }
  }
}
