@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.filter-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 2rem;

  &__text {
    font-size: 1.5rem;
  }

  &__help-icon {
    width: 1.25rem;
    margin-left: 0.25rem;
    cursor: pointer;
  }
}
