@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: $white;
  color: $black;
  @include tablet {
    background-color: $light-grey;
  }
}

button {
  display: block;
}

#root {
  position: relative;
  // height: 100vh;
}
