*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #2b2d42;
}

button {
  display: block;
}

#root {
  max-width: 60rem;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
