@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.home-page {
  @include tablet {
    padding: 1.5rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 70rem;
    background-color: $light-grey;
    box-shadow: $card-shadow;

    @include tablet {
      margin: 0 auto;
      border-radius: 2rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem 1rem 1rem;

    @include tablet {
      padding: 2.5rem 1.875rem 1.25rem 1.875rem;
    }

    &-heading {
      letter-spacing: 3px;
      font-size: 1.75rem;
      font-weight: 300;
      line-height: 1.75rem;

      @include tablet {
        font-size: 2rem;
      }
    }

    &-button-container {
      width: 5rem;

      @include tablet {
        width: 8rem;
      }
    }
  }

  &__content {
    background-color: $white;
    border-radius: 2rem;
    padding: 1.5rem 1rem 0 1rem;

    @include tablet {
      padding: 1.5rem 1rem 0 1rem;
    }

    @include laptop {
      padding: 2rem 2rem 0 2rem;
    }
  }

  &__hero-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    @include tablet {
      flex-direction: row;
      gap: 1rem;
    }
    @include laptop {
      gap: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__filter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

    @include tablet {
      width: 50%;
    }
  }

  &__filter-input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__tempo-container {
    margin: 0 0.5rem;

    @include laptop {
      margin: 0 1rem;
    }
  }

  &__energy-container {
    margin: 0 0.5rem;

    @include laptop {
      margin: 0 1rem;
    }
  }

  &__slider-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  &__filter-header {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  &__playlist-data-button-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    @include tablet {
      width: 50%;
    }
    @include laptop {
      gap: 2rem;
    }
  }

  &__playlist-data-content {
    @include tablet {
      margin: 0 auto;
      width: 100%;
    }
  }

  &__playlist-data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.8125rem;
    margin: 0 0.5rem;
    @include laptop {
      margin: 0 1rem;
    }
  }

  &__playlist-data-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    height: 8rem;
    border: 1px $black solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;

    @include tablet {
      height: 11rem;
    }

    @include laptop {
      padding: 0.875rem 0.875rem 0.55rem 0.875rem;
    }

    &--unloaded {
      @extend .home-page__playlist-data-box;
      color: $grey;
      border-color: $grey;
    }
  }

  &__playlist-data-title {
    font-weight: 300;
  }

  &__playlist-data {
    font-size: 1.5rem;
    line-height: 2.25rem;

    @include tablet {
      font-size: 1.75rem;
    }
    @include laptop {
      font-size: 2rem;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
